<h3>Sentence </h3>
<span>Score: <%= @quiz.score %></span>
<p>
  <%= @quiz.cur_question.sentence.content %>
</p>
<% count = 0 %>
<% @quiz.cur_question.choices.each do |name, id| %>
<% count += 1 %>
<form id="choice-<%= count %>" class="choice" action="<%= quiz_url %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="answer_id" value="<%= id %>">
  <input type="submit" name="answer" value="<%= name %>">
</form>
<% end %>
