%p{:class => "score"} Current score: #{ @quiz.score }


%blockquote #{@quiz.cur_question.sentence.content}

%h3 Who Wrote It?:

- count = 0
- @quiz.cur_question.choices.each do |name, id|
  - count += 1
  %form.choice{id: "choice-#{count}", action: "#{ quiz_url }", method: "POST"}
    %input{ type: "hidden", name: "_method", value: "PUT" }
    %input{ type: "hidden", name: "authenticity_token", value: "#{form_authenticity_token}" }
    %input{ type: "hidden", name: "answer_id", value: "#{ id }" }
    %input{ type: "submit", name: "answer", value: "#{ name }" }
